.MessagePane {
  flex: 1;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.MessagePane-List {
  border-bottom: 1px solid black;
  flex: 1;
  overflow: auto;
}

.MessagePane-form {
  padding: 10px;
  min-height: 150px;
}

.MessagePane-Form-container {
  border: 1px solid #eee;
  border-radius: 5px;
  padding:10px;
  display:flex;
  min-height:150px;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.MessagePane-Form-container p {
  margin: 0;
}

.MessagePane-Form .name {
  height:25px;
  width:400px;
  font-size:15px;
  border: 1px solid #eee;
  border-radius: 3px;
  outline: none !important;
  padding: 5px;
}

.MessagePane-Form .message {
  height: 40px;
  width:600px;
  font-size: 15px;
  border: 1px solid #eee;
  border-radius: 3px;
  outline: none !important;
  padding: 5px;
}

.MessagePane-Form .send {
  width: 60px;
  height: 30px;
  color: green;
  font-size: 16px;
}
